<div class="search-bar">
	<div class="search-bar-blue marge">
		<div class="logo">
			<a href="#"><%=image_tag("logo.png", :alt => "Busca Contagem")%></a>
		</div>
		<div class="input-search">
			<input name="search" value="" placeholder="O que deseja encontrar?"><!--
			--><button type="submit" class="button-go">Pesquisar</button>
		</div>
		<div class="home-buttons">
			<button class="button sobre">Sobre</button>
			<button class="button inclusao">Inclusão</button>
		</div>
	</div>
	<div class="footer">
		© 2013 Rodrigo Gomes Dias | <a href="#">Privacidade</a>
	</div>
</div>