<div class="search-bar">
	<div class="search-bar-blue marge">
		<div class="logo">
			<a id="home" href="#"><%=image_tag("logo.png", :alt => "Busca Contagem")%></a>
		</div>
		<div class="input-search">
			<input id="search-input" name="search" value="" placeholder="O que deseja encontrar?"><!--
			--><button id="search-button" type="submit" class="button-go">Pesquisar</button>
		</div>
		<div class="home-buttons">
			<button class="button sobre">Sobre</button>
			<button class="button inclusao">Inclusão</button>
		</div>
	</div>
	<div class="footer">
		© 2013 Rodrigo Gomes Dias | <a href="#">Privacidade</a>
	</div>
</div>

<div class="content">
	<div id="result-search" class="content-search marge">
		
		<!-- <% 15.times.each do |i| %>
		<div class="anuncio free">
			<div class="tel">(31) 3395-1239</div>
			<div class="title">Teste</div>
		</div>
		<% end %> -->
		
	</div>
</div>